extend layout
block imports
    script(src="/js/i18n.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/sync.js")
    script(src="/js/manager.js")
    link(rel="stylesheet", href="/css/manager.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
block content
    .container.content
        .row
            .col-lg-1.col-md-1.col-sm-2.col-xs-2
                a#endsession.btn.btn-danger(href='') Terminer la session
        .row
            .col-lg-11.col-md-11.col-sm-10.col-xs-10
                h1 Manager
            .col-lg-1.col-md-1.col-sm-2.col-xs-2
                a#logout.btn.btn-info(href='/logout')
                    span.glyphicon.glyphicon-log-out
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .block-commands
                    #commands.list-group
                hr
                .block-command
                    form#command(action="/api/v1/sendText" method="POST")
                        .form-group
                            input.form-control(name="input", type='text', placeholder='Demandez à Sýna')
        script.
            var user = {
                username: "#{username}",
                code: "#{code}"
            };
