extend layout
block imports
    script(src="/js/jquery.min.js")
    script(src="/js/i18n.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/sync.js")
    script(src="/js/manager.js")
    link(rel="stylesheet", href="/css/manager.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
block content
    .container.content
        h1 Manager
    .container.content.heightinherit
        .row.heightinherit
            .col-md-12.heightinherit
                .block-commands
                    #commands.list-group
                hr
                .block-command
                    form#command(action="/api/v1/sendText" method="POST")
                        .form-group
                            input.form-control(name="input", type='text', placeholder='Demandez à Syna')
    script.
        var user = {
            username: "#{username}",
            code: "#{code}"
        };
