doctype html
html
    head
        title Syna
        meta(name="viewport", content="initial-scale = 1.0,maximum-scale = 1.0")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/yeti/bootstrap.min.css")
        script(src="/js/jquery.min.js")
        link(rel="stylesheet", href="/css/layout.css")
        block imports
    body
        block content
        .container
            .row.ma-lg-v
                .col-lg-12.col-sm-12.col-xs-12
                    p.ma-no-v(style="text-align:center;")
                        | © 2015&nbsp;
                        a(href="#")
                            | Syna
