#logout {
    margin: 20px 0 10px 0;
}

/* ORDONNANCEUR */
.block-commands {
    max-height: 75vh;
    overflow: auto;
    background-color: #e4e6e8;
}
    .block-commands .list-group {
        margin-bottom: 0;
    }
    .block-commands .material-icons {
        vertical-align: top;
    }
    .block-commands .command {
        overflow: hidden;
    }
    .block-commands .button {
        text-align: right;
    }
    .block-commands .sortable-ghost {
        opacity: 0.4;
        background-color: #92e6de;
    }
