.videoWrapper
    video#vid1.video-js.vjs-default-skin(controls='', autoplay='', loop='', data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "#{url}"}], "Youtube": { "autoplay": 1, "loop": 1, "ytControls": 2, "iv_load_policy": 3 } }')
